body{
    background-image:linear-gradient(to left,lime,lightgreen);
}
.container{
    display:flex;
    flex-wrap: wrap;
}
.container div{
    border:1px solid black;
    width:300px;
    height:380px;
    margin: 30px;
    border-radius:12px;
    background-color: white;
}
.container div img{
    width:230px;
    height:200px;
    margin-left:35px;
    margin-top:20px;
    background-color: aqua;
    border-radius: 12px;
}
.container div #prdname{
    color:rgb(59, 29, 255);
    font-size:30px;
    letter-spacing:7px;
} 
.container div #dose{
    color:rgb(29, 165, 255);
    font-size:20px;
    letter-spacing:2px;
    margin-left:32%;
} 
.container div #rate{
    color:rgb(255, 255, 255);
    font-size:20px;
    letter-spacing:2px;
    margin-left:70px;
    border:1px solid black;
    width:50px;
    background-color: rgb(0, 0, 0);
}
.container div #cart{
    color:rgb(255, 255, 255);
   border:none;
    width:300px;
    border-radius:12px;
    background-color: rgb(211, 243, 32);
}
.container div #cart a{
    text-decoration: none;
    font-size:20px;
    letter-spacing:2px;
}
#carts{
    margin-left: 80%;
    border:none;
    width:200px;
    border-radius:12px;
    background-color: rgb(0, 0, 0); 
}
#carts a{
    text-decoration: none;
    font-size:20px;
    letter-spacing:2px;
    padding:20px;
    color:rgb(255, 255, 255);
}
